<script setup lang="ts">
type Meta = {
  hid?: string
  property: string
  content: string
}
type Props = {
  data?: {
    title?: string
    icon?: string
    description?: string
    image?: string
    type?: string
  }
}

const props = withDefaults(defineProps<Props>(), {
  data: undefined
})

const { public: config } = useRuntimeConfig()
const route = useRoute()

const domain = computed(() => {
  if (process.server) {
    const headers = useRequestHeaders()
    const host = headers.host as string
    const protocol = headers?.referer?.split('/')?.[0]
    return protocol ? `${protocol}//${host}` : `https://${host}`
  }
  return location.origin
})

const data = computed(() => ({
  canonical: `${domain.value}${route.fullPath}`,
  icon: props?.data?.icon || `${domain.value}${config.app.publicIconPath}`,
  title: props?.data?.title ? `${props?.data?.title} — ${config.app.name}` : config.app.name,
  description: props?.data?.description || config.app.description,
  image: props?.data?.image || `${domain.value}${config.app.publicIconPath}`,
  type: props?.data?.type || 'website'
}))

const link = computed(() => [
  { rel: 'canonical', href: data.value.canonical },
  { rel: 'alternate', href: data.value.canonical, hreflang: 'en' }
])

const opengraph = computed<Meta[]>(() => [
  { hid: 'og:url', property: 'og:url', content: data.value.canonical },
  { hid: 'og:locale', property: 'og:locale', content: 'en_US' },
  { hid: 'og:type', property: 'og:type', content: data.value.type },
  { hid: 'og:title', property: 'og:title', content: data.value.title },
  { hid: 'og:description', property: 'og:description', content: data.value.description },
  { hid: 'og:site_name', property: 'og:site_name', content: config.app.name },
  { hid: 'og:image', property: 'og:image', content: data.value.image },
  { hid: 'og:image:alt', property: 'og:image:alt', content: data.value.title }
])

const twitter = computed<Meta[]>(() => [
  { hid: 'twitter:card', property: 'twitter:card', content: 'summary_large_image' },
  { hid: 'twitter:site', property: 'twitter:site', content: `@${config.app.twitterHandle}` },
  { hid: 'twitter:creator', property: 'twitter:creator', content: `@${config.app.twitterHandle}` },
  { hid: 'twitter:title', property: 'twitter:title', content: data.value.title },
  { hid: 'twitter:description', property: 'twitter:description', content: data.value.description },
  { hid: 'twitter:image', property: 'twitter:image', content: data.value.image },
  { hid: 'twitter:image:alt', property: 'twitter:image:alt', content: data.value.title }
])
</script>

<template>
  <Head>
    <Title>{{ data.title }}</Title>
    <Meta name="description" :content="data.description" />

    <Link rel="icon" type="image/png" :href="data.icon" />
    <Link v-for="(item, i) in link" :key="i" :rel="item.rel" :href="item.href" :hreflang="item.hreflang" />
    <Meta v-for="(item, i) in opengraph" :key="i" :hid="item.hid" :property="item.property" :content="item.content" />
    <Meta v-for="(item, i) in twitter" :key="i" :hid="item.hid" :property="item.property" :content="item.content" />
  </Head>
</template>
