<script setup lang="ts">
type theme = 'system' | 'light' | 'dark'

const color = useColorMode()
const changes: Record<theme, theme> = {
  system: 'light',
  light: 'dark',
  dark: 'system'
}
const toggle = () => {
  color.preference = changes[color.preference as theme]
}
</script>

<template>
  <ClientOnly>
    <button class="!outline-none" @click="toggle">
      <Icon v-if="color.preference === 'system'" name="material-symbols:night-sight-auto" class="text-2xl" />
      <Icon v-if="color.preference === 'light'" name="carbon:sun" class="text-2xl" />
      <Icon v-if="color.preference === 'dark'" name="carbon:moon" class="text-2xl" />
    </button>
  </ClientOnly>
</template>
