<script setup lang="ts"></script>

<template>
  <div class="w-full flex items-center justify-center mb-8">
    <PageMeta :data="{ title: 'Home' }" />
    <div class="p-4 flex gap-4">
      <p>Hello World!</p>
    </div>
  </div>
</template>
